@charset "utf-8";

/* header */
.header .headWrap .headMain { max-width:67.11957%; }
.gnbWrap .gnbList>li.hover>a>span:after { visibility:visible; left:50%; margin-left:-2px; background:#000; transition:0.3s; }

/* layout */
#container { margin-bottom:6%; min-height:24em; }
.siteLocation { position:relative; max-width:1235px; margin:2.500em auto 4.875em; padding:0 5.5%; }
.siteLocation .location { display:flex; align-items:center; border-bottom:1px solid #7f7f7f; }
.siteLocation .location .home { height:100%; margin-right:1.625em; }
.siteLocation .location .home a { overflow:hidden; display:inline-block; width:18px; height:100%; background:url(../images/sub/icon_home.svg) no-repeat 0 50%; text-indent:-999px; }
.siteLocation .location .locationTab { display:flex; }
.siteLocation .location .locationTab>li { position:relative; margin-right:3.500em; }
.siteLocation .location .locationTab .locBtn { display:inline-block; min-width:7.500em; text-align:left; font-size:1.250em; }
.siteLocation .location .locationTab .locBtn span { display:block; padding:0.550em 24px 0.550em 0; }
.siteLocation .location .locationTab .locBtn span::before { content:''; position:absolute; top:1.100em; right:0; border-top:7px solid #000; border-right:7px solid transparent; border-bottom:7px solid transparent; border-left:7px solid transparent; }
.siteLocation .location .locationTab li div { display:none; z-index:2; position:absolute; left:0; width:100%; padding:0.5em 1em; border:1px solid #000; background-color:#fff; }
.siteLocation .location .locationTab li div li { border-top:1px solid #444; }
.siteLocation .location .locationTab li div li:first-child { border-top:none; }
.siteLocation .location .locationTab li div li a { display:block; padding:0.75em 0; font-size:1.063em; }
.siteLocation .location .locationTab li div li a span { display:block; position:relative; }
.siteLocation .location .locationTab li div li a:hover span,
.siteLocation .location .locationTab li div li a:focus span { padding-left:12px; transition:0.4s; }
.siteLocation .location .locationTab li div li a span::before,
.siteLocation .location .locationTab li div li a span::before { content:''; opacity:0; position:absolute; top:50%; left:0; width:4px; height:0; margin-top:-2px; border-radius:50%; background:#000;  }
.siteLocation .location .locationTab li div li a:hover span::before,
.siteLocation .location .locationTab li div li a:focus span::before { opacity:1; height:4px; transition:0.4s 0.1s; }
.siteLocation .btnPrint { position:absolute; top:0; right:5.46875vw;  width:25px; height:100%; }
.siteLocation .btnPrint button { overflow:hidden; display:inline-block; width:100%; height:100%; background:url(../images/sub/icon_print.png) no-repeat 0 50%; text-indent:-999px; }
#content { max-width:1235px; margin:0 auto; padding:0 5.5%; }
.pageTit { margin-bottom:3.625em; text-align:center; }
.pageTit h3 { display:inline-block; font-weight:500; font-size:2.188em; }
div.comingSoon { margin:5em auto; text-align:center; font-weight:300; font-size:1.375em; }

/* tabmenu */
.tabNav { max-width:1235px; margin:0 auto 4.250em; padding:0 5.5%; }
.tabNav > p { display:none; }
.tabNav .tabList { border:1px solid #000; text-align:center; }
.tabNav .tabList ul { display:flex; justify-content:center; align-items:center; }
.tabNav .tabList ul li { flex-grow:1; max-width:50%; border-left:1px solid #000; }
.tabNav .tabList ul li:first-child { border-left:none; }
.tabNav .tabList ul li a { display:block; padding:1.111em; font-size:1.125em; }
.tabNav .tabList ul li.active a { background:#000; color:#72ff6f; font-weight:500; }
.tabNav .tabList.type2 { border:none; }
.lesson .scheduleDetail .tabBtn,
.tabNav .tabList.type2 ul { border:none; border-right:1px solid #e0e0e0; text-align:center; }
.tabNav .tabList.type2 ul li { border-left:none; }
.lesson .scheduleDetail .tabBtn li::before { content:none; }
.lesson .scheduleDetail .tabBtn li { flex-grow:1; margin-left:0; padding-left:0; }
.lesson .scheduleDetail .tabBtn li a,
.tabNav .tabList.type2 ul li a { display:block; position:relative; border-top:1px solid #e0e0e0; border-bottom:1px solid #000; border-right:none; border-left:1px solid #e0e0e0; background-color:#f3f3f3; color:#888; }
.lesson .scheduleDetail .tabBtn li a.on,
.tabNav .tabList.type2 ul li.active a { border-color:#000; border-bottom:none; background-color:#fff; color:#000; }
.lesson .scheduleDetail .tabBtn li a.on::before,
.tabNav .tabList.type2 ul li.active a::before { content:''; position:absolute; top:0; right:0; width:1px; height:100%; background:#000; }
.lesson .scheduleDetail .tabBtn li a.on span::before { content:none; }

/* content */
.contentLayout { max-width:1235px; margin:0 auto; }
.titType1 { margin-top:2.182em; margin-bottom:1rem; font-weight:500; font-size:1.375em; }
.conTxt { word-break:keep-all; letter-spacing:-.04em; line-height:1.5; font-size:1.0625em; font-weight:300; }
.conTxt.bold { margin-top:3.333em; font-weight:400; text-align:center; font-size:1.125em; }
.conTxt2 { line-height:1.5; letter-spacing:-0.03em; }
.conTxt2 b { font-weight:500; }
p[class*=conTxt].gray { color:#555; }
.fontR { color:#fe3939; font-weight:500; }
.listStyle>li { position:relative; margin:0.5em 0; padding-left:0.556em; line-height:1.3; }
.listStyle>li::before { content:'·'; position:absolute; top:0; left:0; }
.listStyle2>li { margin:0.313em 0; line-height:1.5; font-weight:300; font-size:1rem; }
.listStyle ul { margin-top:0.5rem; }
ul.noneBefore[class*="listStyle"]>li { padding-left:0; }
ul.noneBefore[class*="listStyle"]>li::before { content:none; }
.listStyle li a { display:inline-block; }
.listStyle li a span.down { display:inline-block; padding-right:1.5rem; background:url(../images/sub/icon_download.png) no-repeat right 0 top 0.25rem; background-size:1rem auto; }
.listStyle li a:hover span.down,
.listStyle li a:focus span.down { text-decoration:underline; }
.counterList { counter-reset:section; line-height:1.4; }
.counterList>li { position:relative; margin:0.5em 0; padding-left:1.8em; font-weight:300; }
.counterList>li::before { counter-increment:section; content:counter(section)"."; position:absolute; top:0; left:0; min-width:1.500em; text-align:right; }
.conTable { table-layout:fixed; width:100%; margin:1rem 0; border-top:1px solid #2c2c2c; line-height:1.4; }
.conTable th,
.conTable td { border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3; text-align:center; vertical-align:middle; }
.conTable thead tr:first-child th:first-child,
.conTable tbody tr th:first-child { border-left:none; }
.conTable tbody th:first-child { border-right:1px solid #e3e3e3; }
.conTable thead th { padding:1rem; background-color:#f8f8f8; font-weight:400; font-size:1.125rem; }
.conTable tbody th { background-color:#fbfbfb; text-align:center; font-weight:300; }
.conTable td { padding:0.875rem; font-weight:300; font-size:1.063rem; }
.conTable td .red { font-weight:500; color:#ff002a; }
.conTable.tdLeft td { text-align:left; }
.conTable td a.lk { overflow:hidden; display:inline-block; max-width:100%; border-bottom:1px solid #000; text-overflow:ellipsis; white-space:nowrap; font-weight:500; }
.tableDrag { display:none; }
.tblUnit { text-align:right; }
.msgBox { margin-top:1em; margin-bottom:4.250em; padding:1.500em 1.250em; border:4px solid #d1d5d8; box-sizing:border-box; }
.msgBox h4.tit { font-weight:400; font-size:1.250em; }
.msgBox.bg { padding:1.750em; border:none; background:#f4f4f4; }
.msgBox.bg h4.tit { text-align:center; letter-spacing:-0.03em; font-weight:500; font-size:1.625em; }
p.defaultBtn { display:flex; justify-content:center; margin-top:3.875em; }
p.defaultBtn .type1 { display:inline-block; min-width:340px; padding:1.250em; border:none; background-color:#000; color:#72ff6f; text-align:center; font-weight:400; font-size:1.250em; box-sizing:border-box; }
p.defaultBtn .type2 { display:inline-block; min-width:340px; padding:1.250em; border:1px solid #000; text-align:center; font-weight:400; font-size:1.250em; box-sizing:border-box; }
@media screen and (max-width: 1200px) {
	/* header */
	.header .headWrap .headMain { max-width:none; }
}
@media screen and (max-width: 1024px) {
    /* layout */
    #container { margin-bottom:60px; }
    .pageTit { margin-top:2.818em; margin-bottom:2.909em; }
    .pageTit h3 { font-size:1.727em; }

    .siteLocation { margin:0 0 2.818em; padding:0; }
    .siteLocation .location .home,
    .siteLocation .btnPrint { display:none; }
    .siteLocation .location { display:block; border-bottom:none; }
    .siteLocation .location .locationTab { display:block; }
    .siteLocation .location .locationTab>li { margin-right:0; }
    .siteLocation .location .locationTab .locBtn { width:100%; padding:0 2em; box-sizing:border-box; }
    .siteLocation .location .locationTab .locBtn span { position:relative; padding:1em 2em 1em 0; }
    .siteLocation .location .locationTab>li:first-child .locBtn { background:#000; color:#fff; }
    .siteLocation .location .locationTab>li:first-child .locBtn span::before { content:''; position:absolute; top:1.1em; right:0; width:9px; height:9px; border-top:2px solid #fff; border-right:2px solid #fff; border-left:none; border-bottom:none; transform:rotate(135deg); transition:0.4s; }
    .siteLocation .location .locationTab>li:first-child .locBtn.active span::before { top:1.5em; transform:rotate(-45deg); }
    .siteLocation .location .locationTab>li:nth-child(2) .locBtn { border-bottom:1px solid #dcdcdc; }
    .siteLocation .location .locationTab>li:nth-child(2) .locBtn span::before,
    .siteLocation .location .locationTab>li:nth-child(2) .locBtn span::after { content:''; position:absolute; top:50%; right:0; border:none; background:#040404; }
    .siteLocation .location .locationTab>li:nth-child(2) .locBtn span::before { width:16px; height:2px; }
    .siteLocation .location .locationTab>li:nth-child(2) .locBtn span::after { width:2px; height:16px; margin-top:-7px; margin-right:7px; transition:0.3s; }
    .siteLocation .location .locationTab>li:nth-child(2) .locBtn.active span::after { transform:rotate(90deg); }
    .siteLocation .location .locationTab li div li { border-top:1px solid #dcdcdc; }
    .siteLocation .location .locationTab li div li a:hover span,
    .siteLocation .location .locationTab li div li a:focus span { padding-left:0; transition:none; }
    .siteLocation .location .locationTab li div li a span::before,
    .siteLocation .location .locationTab li div li a span::before { content:none; }
    .siteLocation .location .locationTab li div { position:static; padding:0; border:none; box-sizing:border-box; }
    .siteLocation .location .locationTab li div li:last-child { border-bottom:1px solid #dcdcdc; }
    .siteLocation .location .locationTab li div li a { padding:1em 2.167em 1em; font-size:1.091em; }

    /* tabmenu */
    .tabNav { margin:3.182em 0; }
    .tabNav > p { display:block; }
    .tabNav .moTabBtn { display:block; width:100%; padding:1em 0; border-top:1px solid #000; border-bottom:1px solid #000; text-align:left; font-size:1.182em; }
    .tabNav .moTabBtn span { display:block; position:relative; padding-right:2em; }
    .tabNav .moTabBtn span::before { content:''; position:absolute; top:0; right:0; width:1.846em; height:100%; background:url(../images/sub/arrow_tabnav.svg) no-repeat 50% 50%; background-size:contain; transition:0.4s; }
    .tabNav .moTabBtn span::before { }
    .tabNav .moTabBtn.active span::before { -webkit-transform:rotate(180deg); transform:rotate(180deg); }
    .tabNav .tabList { display:none; border:1px solid #000; border-top:none; }
    .tabNav .tabList ul { flex-direction:column; padding:1em 0; }
    .tabNav .tabList ul li { width:100%; max-width:none; padding:0; border:none; }
    .tabNav .tabList ul li a { padding:0.833em 1.250em;text-align:left; }
    .tabNav .tabList ul li.active a { background:#fff; color:#000; font-weight:700; }
    .tabNav .tabList ul li:before,
    .tabNav .tabList ul li.active a span::after { content:none; }
    .tabNav .tabList ul li a span { padding:0; }
    .tabNav .tabList.type2 ul { border:1px solid #000; border-top:none; }
    .tabNav .tabList.type2 ul li.active a::before { content:none; }
    .tabNav .tabList.type2 ul li a { border:none; background-color:#fff; color:#000; }
}
@media screen and (max-width:960px) {
	p.defaultBtn .type1 { min-width:auto; width:100%; }
}

.ui-widget-header { margin-bottom:0.75em; border:0px solid #dddddd; background: #fff; }
.ui-datepicker-calendar>thead>tr>th {font-size: 14px !important;}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {border: 0px solid #c5c5c5;background: transparent;font-weight: normal;color: #454545;text-align: center;}
.ui-datepicker {display: none;background-color: #fff;border-radius: 4px;margin-top: 10px;margin-left: 0px;margin-right: 0px;padding: 20px;padding-bottom: 10px;width: 300px;box-shadow: 10px 10px 40px rgba(0,0,0,0.1);}
.ui-widget.ui-widget-content { border: 1px solid #eee;}
#datepicker:focus>.ui-datepicker {display: block;}
.ui-datepicker-prev,
.ui-datepicker-next { display: inline-block; cursor: pointer;}
.ui-datepicker-next {float: right;}
.ui-state-disabled {cursor: auto;color: hsla(0, 0%, 80%, 1);}
.ui-datepicker-calendar {width: 100%;}
.ui-datepicker-calendar>thead>tr>th {padding: 5px;font-size: 20px;font-weight: 400;}
.ui-datepicker-calendar>tbody>tr>td>a {color: #000;font-size: 12px !important;font-weight: bold !important;text-decoration: none;}
.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {cursor: auto;background-color: #fff;}
.ui-datepicker-calendar>tbody>tr>td { border-radius: 100%;width: 44px;height: 30px;cursor: pointer;padding: 5px;    font-weight: 100; text-align: center;font-size: 12px;}
.ui-datepicker-calendar>tbody>tr>td:hover { background-color: transparent;opacity: 0.6;}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {border: 0px solid #cccccc;background-color: transparent;font-weight: normal;color: #2b2b2b;}
.ui-widget-header .ui-icon {}
.ui-icon-circle-triangle-e {background-position: -20px 0px;background-size: 36px;}
.ui-icon-circle-triangle-w {background-position: -0px -0px;background-size: 36px;}
.ui-datepicker-calendar>tbody>tr>td:first-child a{color: red !important;}
.ui-datepicker-calendar>tbody>tr>td:last-child a{color: #0099ff !important;}
.ui-datepicker-calendar>thead>tr>th:first-child {color: red !important;}
.ui-datepicker-calendar>thead>tr>th:last-child {color: #0099ff !important;}
.ui-datepicker-calendar .ui-state-active {border:0px; background:#000; color:#72ff6f; border-radius:50%; padding-top:10px;padding-bottom:10px; }
.inp {padding:10px 10px; background-color:#f1f1f1; border-radius:4px; border:0px; }
.inp:focus {outline:none; background-color:#eee;}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span { margin-left:-5px; background-position:center center; background-size:contain; }
.ui-widget-content .ui-icon.ui-icon-circle-triangle-w { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M9.406,14.691 L8.442,15.655 L1.727,8.940 L1.727,8.940 L0.762,7.976 L1.727,7.11 L1.727,7.11 L8.442,0.296 L9.406,1.260 L2.691,7.976 L9.406,14.691 Z'/%3E%3C/svg%3E");  }
.ui-widget-content .ui-icon.ui-icon-circle-triangle-e { background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='10px' height='16px'%3E%3Cpath fill-rule='evenodd' fill='rgb(0, 0, 0)' d='M9.236,7.976 L8.272,8.940 L8.272,8.940 L1.557,15.655 L0.593,14.691 L7.308,7.976 L0.593,1.260 L1.557,0.296 L8.272,7.11 L8.272,7.11 L9.236,7.976 Z'/%3E%3C/svg%3E"); }
.formStyle { max-width:1235px; margin:60px auto 50px; }
.formStyle .requiredTxt { float:right; margin-bottom:10px; font-weight:300; }
.formStyle .formTxt { margin:2.353em 0; text-align:center; line-height:1.3; font-weight:300; font-size:1.063em; }
.formStyle .formBtn { flex-shrink:0; display:inline-block; padding:0.875em 1.2em; border:none; border:1px solid #dcdcdc; background:#fafafa; text-align:center; font-weight:300; line-height:1.2; box-sizing:border-box; }
.formStyle .formBtnB { display:inline-block; padding:1em 3em; border:none; background:#000; color:#72ff6f; font-size:0.938rem; }
.formTable { table-layout:fixed; width:100%; margin:1em auto; border-top:1px solid #000; text-align:left; }
.formTable th,
.formTable td,
.formTable td .th { border-bottom:1px solid #e8e8e8; vertical-align:middle; line-height:1.3; font-weight:400; }
.formTable th,
.formTable td .th { padding:1.125em 1.091em; font-weight:400; }
.formTable thead th { width:auto; text-align:center; }
.formTable tbody th { width:178px; letter-spacing:-0.03em; text-align:left; }
.formTable td { padding:0.813em 4px; }
.formStyle .formTit { overflow:hidden; margin-top:2.560em; margin-bottom:1.200em; line-height:1.4; font-weight:500; font-size:1.250em; }
.formStyle .formTit.bg,
.unschedulePop .formTit { margin-bottom:0; padding:0.818em 24px; background-color:#ebebeb; font-size:1.375em; }
.joinWrap .formStyle .formTit { margin-bottom:1rem; }
.formStyle .formTit.member { margin-top:3.000em; text-align:center; font-size:1.500em; }
.formStyle div.formTit { margin-bottom:1em; font-size:1em; }
.formStyle div.formTit h4 { float:left; margin:0; }
.formStyle div.formTit .requiredTxt { margin-top:0.250em; margin-bottom:0; }
.formStyle .formBtn i { font-style:normal; font-size:0.867em; }
.formStyle .guideTxt { display:block; position:relative; margin:0.5em 0; padding-left:1.125rem; line-height:1.3; font-weight:300; font-size:0.938em; box-sizing:border-box; }
.joinWrap .formTable .guideTxt { margin-bottom:0; }
.formStyle .guideTxt.red,
.formStyle .guideTxt .red { color:red; font-weight:400; }
.formStyle .guideTxt.blue { color:blue; }
.formStyle .guideTxt i { display:inline-block; vertical-align:top; font-style:normal; }
.formStyle .guideTxt i:before { display:block; position:absolute; top:0; left:0; }
.formStyle .guideTxt i.minus:before { content:'-'; }
.formStyle .guideTxt i.point:before { content:'※'; }
.formStyle .guideTxt i.dot:before { content:'·'; left:0.375em; }
.formStyle .guideTxt a { display:inline-block; padding-bottom:0.250em; border-bottom:1px solid #3173FD; color:#3173FD; vertical-align:top; font-weight:500; }
.formStyle label,
.formStyle .label { display:inline-block; font-size:0.938rem; }
.formStyle .formTable th label,
.formStyle .formTable th .label { vertical-align:middle; }
.formStyle .formTable label.error { order:100; width:100%; }
.formStyle input::-webkit-input-placeholder { font-weight:300; color:#929292; }
.formStyle input::-moz-placeholder { font-weight:300; color:#929292; }
.formStyle input:-ms-input-placeholder { font-weight:300; color:#929292; }
.formStyle input::-ms-input-placeholder { font-weight:300; color:#929292; }
.formStyle .required { overflow:hidden; display:inline-block; width:0.667em; height:0.667em; margin-top:-0.333em; margin-left:0.400em; background:url(../images/use/icon_compul_check.gif) center no-repeat; background-size:contain; vertical-align:middle; text-indent:999px; }
.formStyle input.txt,
.formStyle select,
.formStyle [class*="datePicker"],
.formStyle [class*="timePicker"] { width:100%; max-width:100%; height:3.000em; border:1px solid #e8e8e8; margin-right:0.375em; text-indent:0.75em; line-height:3.000em; box-sizing:border-box; }
.joinWrap .formStyle input.txt,
.joinWrap .formStyle .datePicker { width:auto; min-width:20.000em; } /* 회원가입 */
.formStyle [class*="datePicker"] { padding-right:2.250em; background:url(../images/sub/icon_calendar.png) no-repeat right 0.625em top 50%; background-size:1.125em auto; }
.formStyle [class*="timePicker"] { padding-right:2.250em; background:url(../images/use/icon_time.png) no-repeat right 0.625em top 50%; background-size:0.875em auto; }
.formStyle input[type="text"]:read-only,
.formStyle input[type="password"]:read-only,
.formStyle input[type="date"]:read-only { background:#f4f4f4; }
.formStyle input[type="text"][readonly] { background:#f4f4f4; }
.formStyle input[type="file"] { width:100%; margin-bottom:0.5em; }
.formStyle input[type="file"] ~ a { display:block; margin-top:1em; padding-bottom:0.5em; font-weight:300; font-size:0.875rem; text-decoration:underline; }
.formStyle select { padding-left:1em; background:#fff url(../images/use/arrow_select.png) no-repeat right 0.824em top 50%; -webkit-appearance:none; -moz-appearance:none; appearance:none; }
.formStyle textarea { width:100%; height:10rem; padding:1.5em; border:1px solid #e8e8e8; resize:none; }
.formStyle input[type="radio"],
.formStyle input[type="checkbox"] { overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; clip: rect(0,0,0,0); }
.formStyle input[type="radio"] ~ label,
.formStyle input[type="checkbox"] ~ label { display:inline-block; position:relative; min-height:15px; padding-left:1.563rem; cursor:pointer; }
.formStyle input[type="radio"] ~ label::before,
.formStyle input[type="checkbox"] ~ label::before { content:''; position:absolute; top:1px; left:0; border:1px solid #bbb; box-sizing:border-box; }
.formStyle input[type="radio"] ~ label::before { width:1.125rem; height:1.125rem; border-radius:50%; }
.formStyle input[type="checkbox"] ~ label::before { width:15px; height:15px; }
.formStyle input[type="radio"]:checked ~ label::before,
.formStyle input[type="checkbox"]:checked ~ label::before { border:none; background:#000 url(../images/use/bu_radio_on.png) no-repeat 50% 100%; background-size:1.125rem auto; }
.formStyle .formHyphen,
.formStyle .formAtsign { display:inline-block; height:3.000em; line-height:3.000em; margin-right:0.400em; font-size:0.938em; vertical-align:middle; }
.formStyle .inputBtn { display:flex; flex-wrap:wrap; align-items:center; }
.formStyle .txtCheck { display:flex; align-items:center; }
.formStyle .txtCheck .checkb { flex-shrink:0; margin:0 1em; }
.formStyle .groupEmail { display:flex; flex-wrap:wrap; }
.formStyle .groupEmail .txt,
.joinWrap .formStyle .groupEmail .txt { width:30%; min-width:auto; margin-right:0; }
.formStyle .groupEmail select { width:calc(32% - 0.375em); min-width:auto; margin-right:0; margin-left:0.375em; }
.formStyle .groupEmail .formAtsign { width:8%; margin-right:0; text-align:center; }
.formStyle .groupAddr { position:relative; }
.formStyle .groupAddr .btnZipcode { display:block; position:absolute; top:0; right:0; width:11.000em; height:3em; border:1px solid #dcdcdc; border-left:none; background:#fafafa; text-align:center; line-height:3em; box-sizing:border-box; }
.formStyle .groupAddr .btnZipcode span { display:inline-block; height:100%; padding-left:1.375em; background:url(../images/use/btn_search_form.png) no-repeat 0 50%; background-size:1.125em auto; }
.formStyle .groupAddr .addrTxt { display:flex; flex-wrap:wrap; padding-right:11.000em; }
.formStyle .groupAddr .addrTxt .txt { min-width:auto; margin-right:0; }
.formStyle .groupAddr .addrTxt .txt:nth-of-type(1) { flex-shrink:0; width:11em; border-right:none; }
.formStyle .groupAddr .addrTxt .txt:nth-of-type(2) { width:calc(100% - 11em); }
.formStyle .groupAddr > input.txt { width:100%; margin-top:0.375em; margin-right:0; }
.formStyle .groupTel { display:flex; flex-wrap:wrap; align-items:center; }
.formStyle .groupTel .txt { width:calc(100% - 11em); }
.formStyle .groupTel select { flex-shrink:0; width:10em; padding-left:1.5em; }
.formStyle .groupTel .formHyphen { display:inline-block; width:6%; margin-right:0; text-align:center; vertical-align:top; }
.formStyle .groupTel .chekb { flex-shrink:0; overflow:hidden; position:relative; padding:0 22px; box-sizing:border-box; }
.formStyle .groupTel .chekb input { overflow:hidden; position:absolute; top:0; left:-99999px; width:1px; height:1px; margin-left:-1px; clip:rect(0,0,0,0); }
.formStyle .groupTel .chekb label { display:inline-block; padding:4px 0; cursor:pointer; }
.formStyle .groupTel .chekb label span { display:block; position:relative; padding-left:28px; }
.formStyle .groupTel .chekb label span::before { content:''; position:absolute; top:0.125em; left:0; width:20px; height:20px; border:1px solid #dcdcdc; box-sizing:border-box; }
.formStyle .groupTel .chekb input:checked + label span::before { border-color:#007bda; background:url(../images/use/bg_check_on.png) no-repeat 50% 50%; background-size:contain; }
.formStyle .groupTel .formBtn { border-bottom:1px solid #dcdcdc; }
.formStyle .radioList { display:flex; flex-wrap:wrap; align-items:center; }
.formStyle .radioList.center { justify-content:center; }
.formStyle .radioList li { display:flex; align-items:center; margin:0.5em 0.750em; }
.formStyle .radioList li label { min-width:2em; margin:0 5px; font-weight:400; cursor:pointer; }
.formStyle ul.fileList li { overflow:hidden; display:block; width:100%; margin:0.5em 0; }
.formStyle ul.fileList li p { margin:0; padding:0; }
.formStyle ul.fileList li p.fileArea,
.formStyle ul.fileList li p.txtBox { position:relative; float:left; width:calc(100% - 50px); padding-bottom:5px; }
.formStyle ul.fileList li p.txtBox span { display:block; width:100%; line-height:38px; border:1px solid #d0d0d0; box-sizing:border-box; text-indent:1em; }
.formStyle ul.fileList li p.fileArea input[type="file"] { overflow:hidden; position:absolute; left:-999px; top:0; width:1px; height:1px; margin-left:-1px; }
.formStyle ul.fileList li p.fileArea label { float:right; display:inline-block; width:7.625rem; background:#656565; text-align:center; line-height:40px; color:#fff; cursor:pointer; }
.formStyle ul.fileList li p.fileArea span { display:block; padding-right:8.125em; }
.formStyle ul.fileList li p.fileArea span input { overflow:hidden; width:100%; height:40px; padding:0 1em; border:1px solid #d0d0d0; box-sizing:border-box; white-space:nowrap; text-overflow:ellipsis; }
.formStyle ul.fileList li p.btnArea { margin-left:calc(100% - 50px); }
.formStyle ul.fileList li p.btnArea button { overflow:hidden; position:relative; width:44px; height:40px; margin-left:5px; border:1px solid #d0d0d0; text-indent:-999px; }
.formStyle ul.fileList li p.btnArea button.del:before,
.formStyle ul.fileList li p.btnArea button.del:after,
.formStyle ul.fileList li p.btnArea button.minus:before,
.formStyle ul.fileList li p.btnArea button.plus:before,
.formStyle ul.fileList li p.btnArea button.plus:after { content:''; position:absolute; left:50%; top:50%; width:14px; height:2px; margin-top:-1px; margin-left:-7px; background:#868686; }
.formStyle ul.fileList li p.btnArea button.plus:after { -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); }
.formStyle ul.fileList li p.btnArea button.del:before { -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg); }
.formStyle ul.fileList li p.btnArea button.del:after { -webkit-transform:rotate(135deg); -ms-transform:rotate(135deg); transform:rotate(135deg); }
.formStyle ul.fileList li p.btnArea .delBtn { overflow:hidden; vertical-align:top; display:inline-block; }
.formStyle ul.fileList li p.btnArea .delBtn input { overflow:hidden; position:absolute; left:-1000px; width:1px; height:1px; }
.formStyle ul.fileList li p.btnArea .delBtn label { overflow:hidden; display:inline-block; cursor:pointer; position:relative; width:44px; height:40px; margin-left:5px; border:1px solid #d0d0d0; text-indent:100%; box-sizing:border-box; white-space: nowrap; }
.formStyle ul.fileList li p.btnArea .delBtn label::before { content:''; position:absolute; left:50%; top:50%; width:14px; height:2px; margin-top:-1px; margin-left:-7px; background:#656565; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); transform:rotate(45deg);}
.formStyle ul.fileList li p.btnArea .delBtn label::after { content:''; position:absolute; left:50%; top:50%; width:14px; height:2px; margin-top:-1px; margin-left:-7px; background:#656565; -webkit-transform:rotate(135deg); -ms-transform:rotate(135deg); transform:rotate(135deg); }
.formStyle ul.fileList li p.btnArea .delBtn input:checked + label { background:#0742ba; }
.formStyle ul.fileList li p.btnArea .delBtn input:checked + label::before,
.formStyle ul.fileList li p.btnArea .delBtn input:checked + label::after { background:#fff; }
.formStyle .dateGroup { display:flex; align-items:center; }
.formStyle .dateGroup input[type="text"] { width:13.750em; margin-right:0; }
.formStyle .dateGroup span { display:inline-block; margin:0 0.750em; }
.formStyle .plusMinus { display:flex; }
.joinWrap .formStyle .plusMinus input.txt { width:4em; min-width:auto; margin:0; text-align:center; text-indent:0; }
.formStyle .plusMinus .minus,
.formStyle .plusMinus .plus { overflow:hidden; display:inline-block; width:3em; height:3em; border:1px solid #e8e8e8; background-repeat:no-repeat; background-position:50% 50%; line-height:3em; text-indent:-999px; box-sizing:border-box; }
.formStyle .plusMinus .minus { border-right:none; background-image:url(../images/use/icon_minus.svg); }
.formStyle .plusMinus .plus { border-left:none; background-image:url(../images/use/icon_plus.svg); }
.formStyle .plusMinus input::-webkit-outer-spin-button,
.formStyle .plusMinus input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
.formStyle .plusMinus input[type=number] { -moz-appearance: textfield; }

/* 대관>대관신청 폼 */
.formTitTable { display:flex; }
.formTitTable .tblTit { flex-shrink:0; display:flex; align-items:center; width:20%; border-bottom:1px solid #e8e8e8; font-weight:500; font-size:0.938em; }
.formTitTable .tblTit span { display:inline-block; }
.formTitTable div.tblTit { flex-direction:column; justify-content:center; align-items:flex-start; }
.formTitTable div.tblTit .defaultBtn { width:90%; margin-top:1em; }
.formTitTable div.tblTit .defaultBtn a,
.formTitTable div.tblTit .defaultBtn button { display:block; min-width:auto; width:100%; }
.formTitTable .formTable,
.formTitTable .rentalDate,
.formTitTable .attachFile { width:80%; margin:0; border-top:none; border-left:1px solid #e8e8e8; }
.formTitTable .rentalDate .item { padding:1em 0; }
.formTitTable .rentalDate .item .dateTit { -ms-grid-column:1; -ms-grid-column-span:1; grid-column:1 / 2; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; padding-left:15%; font-weight:500; font-size:0.938rem; }
.formTitTable .rentalDate .item .dateGroup { -ms-grid-column:2; -ms-grid-column-span:2; grid-column:2 / 4; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; }
.formTitTable .rentalDate .item p.label { -ms-grid-column:2; -ms-grid-column-span:1; grid-column:2 / 3; -ms-grid-row:3; -ms-grid-row-span:1; grid-row:3 / 4; }
.formTitTable .rentalDate .item .inputGroup { -ms-grid-column:3; -ms-grid-column-span:1; grid-column:3 / 4; -ms-grid-row:3; -ms-grid-row-span:1; grid-row:3 / 4; }
.formTitTable .rentalDate .item .dateTime { -ms-grid-column:2; -ms-grid-column-span:2; grid-column:2 / 4; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; display:flex; align-items:center; }
.formTitTable .rentalDate .item .guideTxt { -ms-grid-column:2; -ms-grid-column-span:2; grid-column:2 / 4; -ms-grid-row:2; -ms-grid-row-span:1; grid-row:2 / 3; }
.formTitTable .formTable .dateTime { display:flex; align-items:center; }
.formTitTable .dateTime span { display:inline-block; width:10%; margin-bottom:0.750em; text-align:center; }
.formTitTable .dateTime [class*="datePicker"] { width:calc(50% - 3px); margin-bottom:0.750em; margin-right:3px; }
.formTitTable .dateTime [class*="timePicker"] { width:40%; margin-right:0; margin-bottom:0.750em; }
.formTitTable .formTable .counterList li { font-weight:400; font-size:0.938em; }
.formTitTable .attachFile { padding:1em 2%; border-bottom:1px solid #e8e8e8; }
.formTitTable .rentalDate .item .inputGroup .countItem { display:flex; justify-content:flex-end; align-items:center; margin-top:0.75em; }
.formTitTable .rentalDate .item .inputGroup .countItem:first-child { margin-top:0; }
.formTitTable .rentalDate .item .inputGroup .countItem select { width:110px; padding-left:0; }
.formTitTable .rentalDate .item .inputGroup .countItem .txt { width:4.375em; text-align:center; text-indent:0; }
.formTitTable .rentalDate .item .inputGroup .countItem .btnArea { display:flex; margin-left:2em; }
.formTitTable .rentalDate .item .inputGroup .countItem .btnArea button { overflow:hidden; display:inline-block; position:relative; width:3em; height:3em; margin-left:5px; border:1px solid #e8e8e8; text-indent:-999px; }
.formTitTable .rentalDate .item .inputGroup .countItem .btnArea button.minus:before,
.formTitTable .rentalDate .item .inputGroup .countItem .btnArea .plus:before,
.formTitTable .rentalDate .item .inputGroup .countItem .btnArea .plus:after { content:''; position:absolute; left:50%; top:50%; width:14px; height:2px; margin-top:-1px; margin-left:-7px; background:#868686; }
.formTitTable .rentalDate .item .inputGroup .countItem .btnArea .plus:after { -webkit-transform:rotate(90deg); -ms-transform:rotate(90deg); transform:rotate(90deg); }
.rtMsgBox { margin-top:1em; margin-bottom:4.250em; padding:1.8em 2em; border:4px solid #d1d5d8; box-sizing:border-box; }
.rtMsgBox .topTit { display:flex; justify-content:space-between; margin-bottom:1em; }
.rtMsgBox h4 { margin-bottom:1rem; padding-top:0.313rem; font-weight:400; font-size:1.25em; }
.rtMsgBox .topTit a { display:inline-block; padding:1em 1.647em; background:#000; color:#72ff6f; letter-spacing:-0.03em; font-weight:400; font-size:1.063em; }
.rtMsgBox .conTxt { margin-top:1rem; }
.rtMsgBox .conTable tr td:first-child { border-left:none; }
.rtMsgBox .conTable td ul,
.rtMsgBox .conTable td .guideTxt { display:inline-block; }
#rtplAplBrdt::placeholder { color:red; }
#rtplAplBrdt::-webkit-input-placeholder { color:red; }
#rtplAplBrdt:-ms-input-placeholder { color:red; }
#rtplAplBrdt:-mos-input-placeholder { color:red; }
.formTitTable input[id*="no"]::placeholder { color:red; }
.formTitTable input[id*="no"]::-webkit-input-placeholder { color:red; }
.formTitTable input[id*="no"]:-ms-input-placeholder { color:red; }
.formTitTable input[id*="no"]:-mos-input-placeholder { color:red; }

@media screen and (max-width:960px) {
  
	/* 회원가입 - 가입신청서 */
    .formStyle { margin:30px auto; }
    .formStyle .formBtn { width:7.273em; padding:0.833em 0; }
    .formStyle .formTit.bg { padding:0.857em 0.571em; font-size:1.273em; }
    .formStyle .formTit2 { font-size:1.455em; }
    .formStyle .formTit.member { margin-bottom:1em; letter-spacing:-0.03em; font-size:1.364em; }
    .formStyle .guideTxt { padding-right:0; font-size:1rem; }
    .formStyle label,
    .formStyle .label { font-size:1.091rem; }
    .formStyle .formTable .guideTxt { font-size:1em; }
    .formTable thead,
    .formTable colgroup { display:none; }
    .formTable tbody { display:block; }
    .formTable tbody tr { display:flex; flex-wrap:wrap; }
    .formTable tbody th,
    .formTable tbody td { font-size:1.091em; }
    .formTable tbody th { flex-shrink:0; display:block; width:8.545em; padding:1.125em 0.5em 1.125em 0; box-sizing:border-box; }
    .formTable tbody td { flex-grow:1; display:flex; flex-wrap:wrap; align-items:center; width:calc(100% - 8.545em); box-sizing:border-box; }
    .joinWrap .formStyle input.txt,
    .joinWrap .formStyle .datePicker,
    .formStyle input.txt,
    .formStyle select { width:100%; min-width:auto; margin-right:0; }
    .formStyle input[type="radio"] + label,
    .formStyle input[type="checkbox"] + label { min-height:12px; }
    .formStyle input[type="checkbox"] + label::before { width:12px; height:12px; }
    .formStyle [class*="datePicker"] { padding-right:1.818rem; background-position:right 0.5rem top 50%; background-size:1rem auto; }
    .formStyle .inputBtn { width:100%; }
    .formStyle .inputBtn input,
    .joinWrap .formStyle .inputBtn input { width:65%; border-right:none; }
    .formStyle .inputBtn .formBtn { width:35%; height:100%; }
    .formStyle .txtCheck { flex-wrap:wrap; }
    .formStyle .txtCheck .txt { width:100%; }
    .formStyle .txtCheck .checkb { margin:0.5em 0 0; }
    .formStyle .groupEmail { flex-grow:1; flex-wrap:wrap; }
    .formStyle .groupEmail .txt,
    .joinWrap .formStyle .groupEmail .txt { width:46%; }
    .formStyle .groupEmail select { flex-grow:1; width:100%; margin-top:5px; margin-left:0; }
    .formStyle .groupEmail .formBtn { border-top:1px solid #dcdcdc; }
    .formStyle .groupAddr { flex-grow:1; }
    .formStyle .groupAddr .addrTxt { padding-right:0; }
    .formStyle .groupAddr .addrTxt .txt { width:100%; }
    .formStyle .groupAddr .addrTxt .txt:nth-child(1) { width:calc(100% - 7.667em); border-right:1px solid #dcdcdc; }
    .formStyle .groupAddr .addrTxt .txt:nth-child(2) { width:100%; margin-top:5px; padding:1.083em 0; border-top:1px solid #dcdcdc; }
    .formStyle .groupAddr .btnZipcode { width:7.667em; }
    .formStyle .groupTel { flex-wrap:wrap; }
    .formStyle .groupTel .txt { width:100%; }
    .formStyle .groupTel select,
    .formStyle .groupTel .chekb { width:100%; }
    .formStyle .groupTel select { border-right:none; border-bottom:1px solid #dcdcdc; }
    .formStyle .groupTel .chekb { padding:1em 1.500em 0; border-top:1px solid #dcdcdc; }
    .formStyle .groupTel .chekb label span { padding-top:3px; }
    .formStyle .groupTel.wrap { padding-right:0; }
    .formStyle .groupTel.wrap .txt { flex-grow:0; width:calc(100% - 7.273em); }
    .formStyle .groupTel.wrap .formBtn { height:auto; }
    .formStyle .radioList li { margin:1em 0.750em; }
    .formStyle .dateGroup { flex-grow:1; }
    .formStyle .dateGroup input[type="text"] { width:46%; }
    .formStyle .dateGroup span { width:8%; margin:0; text-align:center; }

    /* 대관>대관신청 폼 */
    .formTitTable { display:block; }
    .formTitTable .tblTit,
    .formTitTable .formTable,
    .formTitTable .rentalDate,
    .formTitTable .attachFile { width:100%; border-left:none; }
    .formTitTable .tblTit { margin-top:1em; border-bottom:none; font-size:1.091em; }
    .formTitTable div.tblTit { flex-wrap:wrap; flex-direction:row; justify-content:flex-start; align-items:flex-start; margin-top:2em; }
    .formTitTable div.tblTit .defaultBtn { margin-bottom:1rem;  width:100%; }
    .formTitTable div.tblTit h5 { margin-top:0.5rem; margin-right:1rem;  }
    .formTitTable .rentalDate .item { grid-template-columns:8.545em auto; align-items:flex-start; }
    .formTitTable .rentalDate .item .dateTit { padding-top:0.5em; padding-left:0; font-size:1em; }
    .formTitTable .rentalDate .item p.label { grid-column:1 / 3; grid-row:3 / 4; padding-left:0; }
    .formTitTable .rentalDate .item .inputGroup { grid-column:3 / 4; grid-row:3 / 4; }
    .formTitTable .rentalDate .item .inputGroup .countItem { justify-content:flex-start; width:100%; }
    .formTitTable .rentalDate .item .inputGroup .countItem:first-child { margin-top:1em; }
    .formTitTable .rentalDate .item .inputGroup .countItem select,
    .formTitTable .rentalDate .item .inputGroup .countItem .txt { margin-right:0.5em; }
    .formTitTable .rentalDate .item .inputGroup .countItem .txt { width:7em;}
    .formTitTable .rentalDate .item .inputGroup .countItem .btnArea { flex-grow:1; justify-content:flex-end; }
    .formTitTable .rentalDate .item .dateTime,
    .formTitTable .formTable .dateTime { flex-wrap:wrap; }
    .formTitTable .formTable .dateTime
    .formTitTable .attachFile { margin-top:1em; padding:0; }
    .rtMsgBox .topTit { flex-wrap:wrap; }
    .rtMsgBox .topTit a { box-sizing:border-box; }
}

/* 대관>대관안내>대관료계산기 */
.rentalStyle label i,
.rentalStyle .label i { font-style:normal; font-weight:300; }
.rentalStyle input.txt,
.rentalStyle input[class*="datePicker"] { min-width:auto; height:24px; margin:0; border:1px solid #e8e8e8; line-height:24px; text-indent:0.5em; font-size:0.938em; }
.rentalStyle .formGroup { padding:1.500em 0; border-top:1px solid #000; border-bottom:1px solid #d9d9d9; }
.rentalChoose { display:flex; margin-top:1.250em; }
.rentalChoose > div { display:flex; flex-direction:column; position:relative; width:31.7409%; }
.rentalChoose > div:nth-of-type(2) { margin:0 2.38865%; }
.rentalChoose div i { font-style:normal; }
.rentalChoose div label { order:2; display:block; width:100%; padding:1.667em 0; border:1px solid #b5b5b5; border-top:none; color:#888; text-align:center; font-size:1.125em; cursor:pointer; box-sizing:border-box; }
.rentalChoose div label span { display:inline-block; position:relative; padding-left:1.556em; }
.rentalChoose div label span i { display:inline-block;  margin-left:1rem; padding-left:1rem; border-left:1px solid #aaa; line-height:0.9; }
.rentalChoose div label span::before { content:''; position:absolute; top:0; left:0; width:1em; height:1em; border-radius:50%; border:1px solid #bbb; box-sizing:border-box; }
.rentalChoose div .img { order:1; border:1px solid #b5b5b5; border-bottom:none; }
.rentalChoose div label::before { content:none !important; }
.rentalChoose div input:checked + label { border-color:#000; color:#000; font-weight:500; }
.rentalChoose div input:checked + label span::before { border:none; background:#000 url(../images/use/bu_radio_on.png) no-repeat 50% 100%; background-size:contain; }
.rentalChoose div input:checked ~ .img { border-color:#000; }
.formGroup .radioList li { flex-grow:1; }
.rentalStyle .radioList li label { font-size:1.125em; }
.rentalDate { display:-ms-grid; display:grid; margin-top:1.500em; border-top:1px solid #e8e8e8; }
.rentalDate .item { display:-ms-grid; display:grid; -ms-grid-columns:1fr 1fr 3fr; grid-template-columns:1fr 1fr 3fr; align-items:center; padding:1.438em 0; border-bottom:1px solid #e8e8e8; }
.rentalDate .item:nth-of-type(1) { -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; }
.rentalDate .item:nth-of-type(2) { -ms-grid-row:2; -ms-grid-row-span:1; grid-row:2 / 3; }
.rentalDate .item:nth-of-type(3) { -ms-grid-row:3; -ms-grid-row-span:1; grid-row:3 / 4; }
.rentalDate .item:nth-of-type(4) { -ms-grid-row:4; -ms-grid-row-span:1; grid-row:4 / 5; }
.rentalDate .item:nth-of-type(5) { -ms-grid-row:5; -ms-grid-row-span:1; grid-row:5 / 6; }
.rentalDate .item:nth-of-type(6) { -ms-grid-row:6; -ms-grid-row-span:1; grid-row:6 / 7; }
.rentalDate .item .chkb { -ms-grid-column:1; -ms-grid-column-span:1; grid-column:1 / 2; width:10.750em; padding-left:2%; -webkit-box-sizing:border-box; box-sizing:border-box; }
.rentalDate .item p.label { -ms-grid-column:2; -ms-grid-column-span:1; grid-column:2 / 3; text-align:right; }
.rentalDate .item p.label i { font-style:normal; font-weight:300; }
.rentalDate .item .inputGroup { -ms-grid-column:3; -ms-grid-column-span:1; grid-column:3 / 4; }
.rentalDate .item .inputGroup ul { display:flex; }
.rentalDate .item .inputGroup ul li { flex-grow:1; text-align:right; }
.rentalDate .item .inputGroup ul li label { margin-right:1.467em; }
.rentalDate .item .inputGroup ul li .txt { width:4.375em; text-align:center; text-indent:0; }
.rentalDate .item .inputGroup [class*="datePicker"] { max-width:11.333em; padding-right:1.600em; background:url(../images/sub/icon_calendar.png) no-repeat right 0.267em top 50%; background-size:1em auto; box-sizing:border-box; }
.rentalEtc { border-top:1px solid #000; }
.rentalEtc .item { display:flex; align-items:center; border-bottom:1px solid #e8e8e8; }
.rentalEtc .item h5.label { width:20%; padding-left:2.5%; box-sizing:border-box; }
.rentalEtc .item ul { flex-grow:1; max-width:80%; }
.rentalEtc .item ul li { display:-ms-grid; display:grid; -ms-grid-columns:2fr auto auto; grid-template-columns:2fr auto auto; justify-content:space-between; align-items:center; padding:1.563em 1em; border-top:1px solid #e8e8e8; -webkit-box-sizing:border-box; box-sizing:border-box; }
.rentalEtc .item ul li:first-child { border-top:none; }
.rentalEtc .item ul li .chkb { -ms-grid-column:1; -ms-grid-column-span:1; grid-column:1 / 2; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; }
.rentalEtc .item ul li p.label { -ms-grid-column:2; -ms-grid-column-span:1; grid-column:2 / 3; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; padding-left:0.400em; background:url(../images/sub/bu_3p.png) no-repeat 0 0.467em; }
.rentalEtc .item ul li .count { -ms-grid-column:3; -ms-grid-column-span:1; grid-column:3 / 4; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; display:flex; align-items:center; }
.rentalEtc .item ul li .count .countBtn { display:inline-flex; margin:0 2.000em; }
.rentalEtc .item ul li .count .countBtn button { overflow:hidden; display:inline-block; width:30px; height:26px; border:1px solid #e8e8e8; background-repeat:no-repeat; background-position:50% 50%; background-size:0.800em auto; text-indent:-999px; box-sizing:border-box; }
.rentalEtc .item ul li .count .countBtn .minus { background-image:url(../images/use/icon_minus.svg); }
.rentalEtc .item ul li .count .countBtn .plus { background-image:url(../images/use/icon_plus.svg); }
.rentalEtc .item ul li .count .countBtn input.txt { width:2.667em; height:26px; border-left:none; border-right:none; line-height:26px; text-indent:0; text-align:center; }
.rentalEtc .item ul li .count .price { min-width:4.111em; color:#ff0018; text-align:right; font-weight:300; font-size:1.125em; }
.rentalEtc .item ul li .count .price b { font-weight:500; }
.rentalEtc .item ul li > a { -ms-grid-column:2; -ms-grid-column-span:1; grid-column:2 / 3; -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; display:inline-block; padding-bottom:1px; border-bottom:1px solid #000; font-size:0.938em; }
.rentalStyle .guideBox { margin:0.750em 0; padding:1.286em 1.429em; background:#f9f9f9; line-height:1.5; font-size:14px; }
.rentalStyle .guideBox ol > li { margin:2px 0; }
.rentalStyle .guideBox ol li > span { float:left; }
.rentalStyle .guideBox ol li ul { margin-left:6.286em; margin-bottom:0.5em; color:#4e4e4e; }
.btnCalc { margin-top:3.625em; text-align:center; }
.btnCalc a { display:inline-block; min-width:340px; border:1px solid #9d9d9d; font-size:1.250em; }
.btnCalc a span { display:inline-block; padding:1.200em 0 1.200em 1.250em; background:url(../images/use/icon_calculator.png) no-repeat 0 50%; background-size:0.750em auto; }
/* 프린트 영역 */
.rentalPrint { max-width:1235px; margin:6.250em auto 0; padding:4.500em 4% 3.375em; background-color:#fafbf5; }
.rentalPrint .printArea { position:relative; }
.rentalPrint .printBtn { position:absolute; top:0; right:0; }
.rentalPrint .printBtn button { overflow:hidden; display:inline-block; width:30px; height:30px; background:url(../images/sub/icon_print2.png) no-repeat 50% 50%; text-indent:-999px; background-size:1.813em auto; }
.rentalPrint h4 { margin-bottom:2.750rem; font-size:1.563em; }
.rentalPrint h4 span { font-weight:300; font-size:0.720em; }
.rentalPrint h5 { margin-top:4.875rem; padding-left:2rem; font-weight:500; }
.rentalPrint .total { display:flex; border-bottom:1px solid #afafab; }
.rentalPrint .total li { flex-grow:1; display:flex; flex-direction:column; padding-bottom:1.875rem; }
.rentalPrint .total li.blank { width:2%; border-top:none; }
.rentalPrint .total li span { display:block; font-weight:300; }
.rentalPrint .total li .tit { margin-bottom:1rem; padding-top:1.750rem; border-top:1px solid #afafab; font-weight:500; font-size:0.938em; }
.rentalPrint .total li .txt { font-size:1.125em; }
.rentalPrint .total li.price { width:15%; margin-left:8%; }
.rentalPrint .total li.price .txt { color:#ff0018; text-align:right; font-weight:300; font-size:1.563rem; }
.rentalPrint table { table-layout:fixed; width:100%; margin-top:1em; border-top:1px solid #7d7d7a; }
.rentalPrint table thead { border-bottom:1px solid #7d7d7a; }
.rentalPrint table tbody tr { border-top:1px solid #e1e1dc; }
.rentalPrint table tbody tr:first-child { border-top:none; }
.rentalPrint table th,
.rentalPrint table td { text-align:center; }
.rentalPrint table th { font-weight:500; }
.rentalPrint table thead th { padding:0.563em 0; }
.rentalPrint table td { padding:0.750em 1em; font-weight:300; }
.rentalPrint table thead th:first-child,
.rentalPrint table tbody td:first-child { padding-left:2rem; text-align:left; }
.rentalPrint table td p { padding:0.375em 0; }
.rentalPrint table .price { padding-right:2rem; text-align:right; }
.rentalPrint table tfoot { border-top:1px solid #7d7d7a; }
.rentalPrint table tfoot th { padding-left:2rem; color:#ff0018; text-align:left; }
.rentalPrint table tfoot .price { color:#ff0018; font-weight:300; font-size:1.563em; }
.rentalPrint .tblUnit { padding-right:2rem; font-size:0.875em; }
.rentalPrint .counterList { margin-top:3.625em; padding-top:1em; border-top:1px solid #e1e1dc; }
.rentalPrint .counterList>li { font-weight:400; font-size:0.875em; }
.rentalPrint .counterList>li::before { content:"0" counters(section, ".") "."; }
.rentalPrint .counterList>li ul { font-weight:300; }
.rentalPrint .counterList>li ul li { margin:0; }
@media screen and (max-width: 960px) {
    .rentalStyle input.txt,
    .rentalStyle input[class*="datePicker"] { font-size:1em; }
    .rentalDate .item { -ms-grid-columns:53% 47%; grid-template-columns:53% 47%; }
    .rentalDate .item .chkb { -ms-grid-row:1; -ms-grid-row-span:1; grid-row:1 / 2; }
    .rentalDate .item p.label { -ms-grid-column:1; -ms-grid-column-span:1; grid-column:1 / 2; -ms-grid-row:2; -ms-grid-row-span:1; grid-row:2 / 3; margin-top:6px; padding-left:1.818rem; text-align:left; font-size:1em; }
    .rentalDate .item .inputGroup { -ms-grid-column:2; -ms-grid-column-span:1; grid-column:2 / 3; -ms-grid-row:1; -ms-grid-row-span:3; grid-row:1 / 4; }
    .rentalDate .item .inputGroup ul { display:block; }
    .rentalDate .item .inputGroup ul li { margin:0.364em 0; }
    .rentalDate .item .inputGroup ul li label { margin-right:1em;}
    .rentalDate .item .inputGroup ul li .txt { width:7em; margin-right:3px; }
    .rentalDate .item.date { -ms-grid-columns:auto auto; grid-template-columns:auto auto; }
    .rentalDate .item .inputGroup input[class*="datePicker"] { width:45%; }
    .rentalEtc .item { display:block; }
    .rentalEtc .item h5.label { width:100%; padding-top:1.455em; padding-left:0; }
    .rentalEtc .item ul { max-width:none; }
    .rentalEtc .item ul li { -ms-grid-columns:1fr 1fr; grid-template-columns:1fr 1fr; align-items:flex-start; padding:1.818em 0 0.909em; }
    .rentalEtc .item ul li .chkb { }
    .rentalEtc .item ul li p.label { -ms-grid-column:1; -ms-grid-column-span:1; grid-column:1 / 2; -ms-grid-row:2; -ms-grid-row-span:1; grid-row:2 / 3; margin-top:6px; padding-left:1.818em; background-position:1.563rem 50%; font-weight:400;}
    .rentalEtc .item ul li .count { -ms-grid-column:2; -ms-grid-column-span:1; grid-column:2 / 3; -ms-grid-row:1; -ms-grid-row-span:2; grid-row:1 / 3;justify-content:flex-end; }
    .rentalEtc .item ul li .count .countBtn { margin:0 1em 0 0; }
    .rentalEtc .item ul li .count .countBtn button { width:24px; height:24px; }
    .rentalEtc .item ul li .count .countBtn input.txt { height:24px; line-height:24px; }
    .rentalEtc .item.case ul li { display:block; text-align:right; }
    .rentalEtc .item.case ul li .chkb { text-align:left; }
    .rentalEtc .item ul li > a { font-size:1.091em; }
    .rentalStyle .guideBox { font-size:1em; }
    .rentalStyle .guideBox ol li > span { float:none; }
    .rentalStyle .guideBox ol li ul { margin-left:1.273em; }
    .btnCalc { margin-top:2em; }
    .btnCalc a { min-width:auto; width:100%; font-size:1.273em; }
    /* 프린트 영역 */
    .rentalPrint { padding:1.364em; }
    .rentalPrint h4 { padding-top:0.364rem; letter-spacing:-0.02em; font-size:1.455em; }
    .rentalPrint .total { flex-wrap:wrap; }
    .rentalPrint .total li { flex-grow:0; padding-bottom:1em; line-height:1.3; }
    .rentalPrint .total li:nth-child(1) { width:37%; }
    .rentalPrint .total li:nth-child(2) { width:18%; }
    .rentalPrint .total li:nth-child(3) { width:45%; }
    .rentalPrint .total li.price { flex-direction:row; align-items:flex-end; justify-content:space-between; width:100%; margin-left:0; padding-top:0.727em; border-top:1px solid #afafab; }
    .rentalPrint .total li .tit { padding-top:1em; font-size:1em; }
    .rentalPrint .total li .txt { word-break:keep-all; }
    .rentalPrint .total li.price .tit { margin-bottom:0; border-top:none; }
    .rentalPrint h5 { margin-top:3em; padding-left:0; font-size:1.091em; }
    .rentalPrint table thead th:first-child,
    .rentalPrint table tbody td:first-child,
    .rentalPrint table tfoot th { padding-left:0; }
    .rentalPrint table td { padding:0.750em 0.5em; }
    .rentalPrint table .price { padding-right:0; }
    .rentalPrint table td p { padding:2px 0; }
    .rentalPrint table tfoot .price { font-size:1.455em; }
    .rentalPrint .tblUnit { padding-right:0; font-size:1em; }
    .rentalPrint .counterList { margin-top:2.273em; padding-top:0; }
    .rentalPrint .counterList>li { font-size:1em; }
}
@media screen and (max-width: 767px) {
    .rentalChoose > div { width:32.5%; }
    .formStyle .rentalChoose div label { padding:0.636em 0; }
    .rentalChoose div label { font-size:1em; }
    .rentalChoose div label span { padding-top:1.667em; padding-left:0; }
    .rentalChoose div label span::before { left:50%; transform:translateX(-50%); }
    .rentalChoose div .img img { width:100%; }
    .rentalChoose div label span i { margin-left:0.273em; padding-left:0.273em; }
}
@media screen and (max-width: 359px) {
    .rentalChoose div label { min-height:5.364em; box-sizing:border-box; }
    .rentalChoose div label span { line-height:1.3; }
    .rentalChoose div label span i { display:block; margin-left:0; padding-left:0; border-left:none; }
    .rentalPrint h4 span { display:block; margin-top:6px;  }
}
